/* ===========================
   Subjects Page Header
=========================== */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.top-bar input {
    width: 350px;
    padding: 14px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background: var(--white);
}

.user {
    font-weight: 600;
    color: var(--primary-color);
}

.subjects-header {
    margin-bottom: 35px;
}

.subjects-header h1 {
    color: var(--primary-color);
    margin-bottom: 8px;
}

.subjects-header p {
    color: #666;
}

