.main-content {
    flex: 1;
    padding: 35px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.top-bar input {
    width: 350px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.user {
    font-weight: bold;
    color: #300A80;
}

.subjects-header h1 {
    font-size: 36px;
    color: #300A80;
    margin-bottom: 8px;
}

.subjects-header p {
    color: #666;
    margin-bottom: 30px;
}