.setting-container{
    width: 90%;
    max-width: 850px;
    margin: 60px auto;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);

}
/* ===========================
   Heading
=========================== */

.settings-container h1{
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.settings-container p{
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}
/* ===========================
   Settings Grid
=========================== */

.settings-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.setting-card{
    display: flex;
    flex-direction: column;
}

.setting-card label{
    margin-bottom: 8px;
    color: var(--primary-color);
    font-weight: 700;
}

.setting-card select{
    height: 50px;
    padding: 0 15px;
    border: 2px solid var(--light-yellow);
    border-radius: 10px;
    background: #f8fdff;
    font-size: 16px;
    transition: .3s;
}

.setting-card select:focus{
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0,180,216,.25);
}
/* ===========================
   Sound Option
=========================== */

.sound-box{
    margin-top: 30px;
    padding: 20px;
    background: #eef9fd;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sound-box label{
    color: var(--primary-color);
    font-weight: 700;
}

.sound-box input{
    width: 20px;
    height: 20px;
}